<div class="lookbook" ng-controller="lookbookCtrl">

<div class="lookbook-title" ng-show="showLookbook">
  <h1 class="lookbook-title-h1">{{Collection.data['collection.title'].value}}</h1>
</div>

<!-- story -->

  <!-- <div class="lookbook-description" ng-class="{readStoryScroll: readActive}" ng-click="showDescription()" ng-if="!isMobile">
    <div class="lookbook-mft" style="background-image: url('{{lookbook.logo}}');" ng-if="lookbook.logo"></div>
    <span class="lookbook-description-span">
      <h3 class="lookbook-description-h3" ng-if="Collection.data['collection.title']">"{{Collection.data['collection.title']}}"</h3>
      <ul class="lookbook-description-intro">
        <li class="lookbook-description-intro-li" ng-repeat="i in Collection.data['collection.intro'].value">
          <p class="lookbook-description-intro-p">{{i.label.value}}</p>
        </li>
      </ul>
      <ul class="lookbook-description-text">
        <li class="lookbook-description-text-li" ng-repeat="t in Collection.data['collection.body'].value">
          <p class="lookbook-description-text-p">{{t.label.value}}</p>
        </li>
      </ul>

      <p class="lookbook-description-credit" ng-if="lookbook.credit" ng-repeat="c in Collection.data['collection.credit'].value">
        {{c.label.value}}
      </p>
    </span>
  </div>
 -->









<!-- main image -->
  <div class="lookbook-main" ng-show="showLookbook">
    <!-- ng-show="mainLookShow" -->
    <!-- <p class="lookbook-text-p">look {{mainLook}}</p> -->

    <!-- <div class="lookbook-text"  ng-if="!isMobile">

      <p class="lookbook-text-readstory">
        <a ng-click="showDescription()">{{lookbookStatus}} story</a>
      </p>
    </div> -->


<!-- ng-click="showDescription()" -->
    <img src="{{mainLook.image.value.main.url}}" alt="{{Collection.slug}}" class="lookbook-main-img" ng-class="{'shift-image': shiftImage}" />
  </div>


<!-- side images -->
  <div class="lookbook-side">
    <ul class="lookbook-side-ul">
      <li ng-repeat="l in Collection.data['collection.look'].value" class="lookbook-side-li" ng-click="selectMainLook($index)">
        <img src="{{l.image.value.main.url}}" alt="{{Collection.slug}}" class="lookbook-side-li-img"/>
      </li>
    </ul>

  </div>

</div>
