.anchor-contact{
  height: 100vh;
  width: 100vw;
  display: block;
  position: relative;
  @include respond-to(phone){
    padding-top: 70px;
  }
}


.contact-wrapper{
  @include support-wrapper;
  .contact-ul{
    .contact-li{
      margin-bottom: 20px;
      @include respond-to(phone){
        margin-bottom: 15px;
        width: 100%;
        word-wrap: break-word;
      }
      .contact-h3{
        text-transform: uppercase;
        @include h2();
        color: #000000;
        margin-bottom: 5px;
        @include respond-to(phone){
          margin-bottom: 0;
        }
      }
      .contact-p{
        @include paragraph();
        text-transform: none;
        a{
          @include paragraph();
          text-transform: none;
          @include hover-effect-color;
        }

      }
    }
  }
}
