.anchor-heroes{
  position: relative;
  width:100vw;
  height:auto;
  @include respond-to(phone){
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}


.heroes-container{
  @include respond-to(phone){
    width: 100vw;
    height:auto;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
  }
  @include respond-to(phone-device){
    height: calc(100vh - 60px);
  }
}

@mixin shifted-Heroes-image($image-faded: 0.8){
transform: translateX(0px);
}

.text-overflow{
  overflow: scroll !important;
}

.heroes-scroll-left{
  z-index: $z-horizontal-scroll;
  cursor: auto;
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 0;
}

.heroes_left_arrow{
  @include cursor-arrow-left;
}

.heroes-scroll-right{
  z-index: $z-horizontal-scroll;
  cursor:auto;
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 50vw;
}

.heroes_right_arrow{
  @include cursor-arrow-right;
}

.heroes-unit{
  display: block;
  width: 100vw;
  height: 100vh;
  @include respond-to(phone){
    width: auto !important;
    overflow: visible !important;
  }
  .heroes-ul{
    width: auto;
    height: 100%;
    display: block;
    @include respond-to(phone){
      overflow: visible !important;
    }
    .heroes-li{
      width: 500px;
      height: 100%;
      display: inline-block;
      float: left;
      z-index: 7;
      @include image-invisible;
      @include shifted-Heroes-image;
      @include respond-to(phone){
        opacity:1 !important;
      }
      .heroes-image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: left;
      }
      }
      .heroes-text{
        position: absolute;
        width: 40vw;
        height: 100vh;
        margin-left:10vw;
        overflow-x:hidden;
        overflow-y:scroll;
        z-index: 5;
        .heroes-text-title{
          position: relative;
          margin-right: 70px;
          margin-left: 17vw;
          top: 100px;
          width: 400px;
          left: 50%;
          margin-left: -200px;
          margin-bottom:30px;
          font-size: 24px;
          font-family: "akzidenz-grotesk-condensed";
          line-height: 32px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: $letter-spacing-nav;
          text-align: left;
        }

        .heroes-text-ul{
          position: relative;
          margin-right: 70px;
          margin-left: 17vw;
          top:100px;
          width: 400px;
          left: 50%;
          margin-left: -200px;
          padding-bottom: 50px;
          .heroes-text-li{
            margin-bottom: 13px;
            .heroes-text-words{
              font-size: $font-size-paragraph;
              line-height: $line-height-paragraph;
              text-transform: none;
              letter-spacing: 0;
              text-align: justify;
            }

          }
        }
    }//end text

    .heroes-video{
      display: block;
      width: 40vw;
      height: 300px;
      position: absolute;
      left: 60vw;
      top:50%;
      margin-top: -150px;
      video{
        display: block;
        height: 100%;
        width: 100%;

      }
    }


    .shop-catalogue{
      position: absolute;
      left: 60vw;
      margin-left: $margin-sides;
      bottom: $margin-sides;
      z-index: 6;
      p{
        font-family: "akzidenz-grotesk-condensed";
        letter-spacing: $letter-spacing-nav;
        font-size: $font-size-nav;
        a{
          font-family: "akzidenz-grotesk-condensed";
          font-size: $font-size-nav;
          letter-spacing: $letter-spacing-nav;
          cursor:pointer;
          @include hover-effect-color();
        }
      }


    }




  }
}

.heroes-read-interview{
  position: absolute;
  left: $margin-sides;
  bottom: $margin-sides;
  z-index: 7;
  p{
    font-family: "akzidenz-grotesk-condensed";
    letter-spacing: $letter-spacing-nav;
    font-size: $font-size-nav;
    @include hover-effect-color();
  }
}

//................................................................................different heroes units


// //.............................0
// #heroes-unit-0{
//
//   #heroes-ul-0{
//     width: 100vw;
//     height: 100%;
//     display: block;
//     li{
//       cursor:default;
//     }
//     #heroes-li-0{
//       width: 100%;
//       height: 100%;
//     }
//   }
// }
//


//.............................0
#heroes-unit-0{
    overflow: scroll;

  #heroes-ul-0{
    width: 800vw;
    height: 100%;
    display: block;
    overflow: scroll;
    @include respond-to(phone){
      width:1450vw;
    }
    li{
    }
    #heroes-li-0{
      height: 100%;
      width: 100vw;
      @include respond-to(phone){
        width:200vw;
      }
      .heroes-image{
        height: 100%;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
      }
    }
    #heroes-li-1{
      height: 100%;
      width: 50vw;
      @include respond-to(phone){
        width:100vw;
      }
      .heroes-image{
        height: 100%;
        width: 90%;
        margin-left: 10%;
        margin-right: 0%;
        @include respond-to(phone){
          width: 100%;
          margin-left: 0%;
          margin-right: 0%;
          background-position: center center;
        }
      }
    }
    #heroes-li-2{
      height: 100%;
      width: 50vw;
      position: relative;
      @include respond-to(phone){
        width:100vw;
      }
      .heroes-image{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -250px;
        margin-left: -180px;
        width: 350px;
        height: 500px;
        @include catalogue-background;
        @include respond-to(phone){
          width:100vw;
          height:100vh;
          margin-top: 0;
          margin-left: 0;
          left:0;
          top:0;
        }

      }
    }
    #heroes-li-3{
      height: 100vh;
      width: 100vw;
      @include respond-to(phone){
        width:250vw;
      }
      .heroes-image{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    #heroes-li-4{
      height: 100%;
      width: 50vw;
      position: relative;
      @include respond-to(phone){
        width:100vw;
      }
      .heroes-image{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -41vh;
        margin-left: -40%;
        width: 80%;
        height: 82vh;
        @include catalogue-background;

      }

    }
    #heroes-li-5{
      height: 100%;
      width: 50vw;
      position: relative;
      @include respond-to(phone){
        width:100vw;
      }
      .heroes-image{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -200px;
        margin-left: -225px;
        width: 450px;
        height: 400px;
        @include catalogue-background;
        @include respond-to(phone){
          margin-top: -20vh;
          margin-left: -45vw;
          width: 90vw;
          height: 40vh;
        }
      }
    }
    //300
    #heroes-li-6{
      height: 100%;
      width: 90vw;
      padding-right: 15vw;
      @include respond-to(phone){
        width:100vw;
        padding-right: 0vw;
      }
      .heroes-image{
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;

      }
    }
    //390
    #heroes-li-7{
      height: 100vh;
      width: 90vw;
      position: relative;
      margin-right: 10vw;
      @include respond-to(phone){
        width:200vw;
        margin-right: 0;
      }
      .heroes-image{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -42vh;
        margin-left: -45vw;
        /* margin: auto auto; */
        width: 90vw;
        height: 84vh;
        @include catalogue-background;
        @include respond-to(phone){
          margin-left: -75vw;
          width: 150vw;
        }

      }
    }
    //490
    #heroes-li-8{
      height: 100vh;
      width: 90vw;
      position: relative;
      margin-right: 5vw;
      @include respond-to(phone){
        width:100vw;
        margin-right: 0;
      }
      .heroes-image{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -42vh;
        margin-left: -50vw;
        /* margin: auto auto; */
        width: 90vw;
        height: 84vh;
        @include catalogue-background;

      }

    }
    //600
    #heroes-li-9{
      height: 100vh;
      width: 50vw;
      position: relative;
      @include respond-to(phone){
        width:100vw;
      }
    .heroes-image{
      position: absolute;
      width: 100%;
      height: 100%;
      @include catalogue-background;

    }

    }
//700
    #heroes-li-10{
      height: 100vh;
      width: 50vw;
      position: relative;
      @include respond-to(phone){
        width:100vw;
      }
    .heroes-image{
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -42vh;
      margin-left: -44%;
      /* margin: auto auto; */
      width: 88%;
      height: 84vh;
      @include catalogue-background;
      @include respond-to(phone){
        margin-top: -35vh;
        margin-left: -35vw;
        width: 70vw;
        height: 70vh;
      }
    }
    //900
    }
  }
}


//.............................1
#heroes-unit-1{
  #heroes-ul-1{
    width: 100vw;
    height: 100%;
    display: block;
    position: relative;
    li{
      cursor:pointer;
    }
    #heroes-li-0{
      position: relative;
      height: 100%;
      width: 50vw;
      left: 10vw;
      z-index: 7;
      /* right: 10vw; */
      // left: 50vw;
      // top: 0;
      .heroes-image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
    }
  }
}


//.............................2
#heroes-unit-2{
  #heroes-ul-2{


    width: 100vw;
    height: 100%;
    display: block;
    li{
      cursor:default;
    }
    #heroes-li-0{
      height: 100%;
      width: 100vw;
      .heroes-image{
        width: 100%;
        height: 100%;
        background-size: 100% auto;
        background-position: 91% 87%;
      }
    }
  }
}




//.............................3
#heroes-unit-3{
    padding-bottom: 50px;
  #heroes-ul-3{
    width: 100vw;
    height: 100%;
    display: block;
    position: relative;
    li{
      cursor:default;
    }
    #heroes-li-0{
      position: absolute;
      height: 90vh;
      width: 42vw;
      left: 50%;
      margin-left: -16vw;
      top: 50vh;
      margin-top: -45vh;
    }

  }
}













//MOBILE
//......................MOBILE

.heroes-mobile-container{
  width: 100vw;
  height:auto;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  @include respond-to(phone-device){
    height: calc(100vh - 60px);
  }
}



.heroes-swipe{
  position: absolute;
  height: calc(100vh);
  width: 100vw;
  position: absolute;
  top: 0px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: $z-swipe;
  background-color: rgba(255, 255, 255, 0.3);
  p{
    display:block;
    position: absolute;
    height: 20px;
    width: 100px;
    color: #FFFFFF;
    left: 50%;
    top: calc(50% - 40px);
    margin-left: -50px;
    margin-top: -10px;
    text-align: center;
    font-size: $font-size-nav;
    font-weight: bold;

  }

}





@keyframes shiftRightHeroes {
  from { transform: translateX(0vw);}
  to {transform: translateX(40vw);}
}

@-webkit-keyframes shiftRightHeroes {
  from { transform: translateX(0vw);}
  to {transform: translateX(40vw);}
}

@-moz-keyframes shiftRightHeroes {
  from { transform: translateX(0vw);}
  to {transform: translateX(40vw);}
}

@-ms-keyframes shiftRightHeroes {
  from { transform: translateX(0vw);}
  to {transform: translateX(40vw);}
}

@-o-keyframes shiftRightHeroes {
  from { transform: translateX(0vw);}
  to {transform: translateX(40vw);}
}




@keyframes shiftLeftHeroes {
  from { transform: translateX(40vw);}
  to {transform: translateX(0vw);}
}

@-webkit-keyframes shiftLeftHeroes {
  from { transform: translateX(40vw);}
  to {transform: translateX(0vw);}
}

@-moz-keyframes shiftLeftHeroes {
  from { transform: translateX(40vw);}
  to {transform: translateX(0vw);}
}

@-ms-keyframes shiftLeftHeroes {
  from { transform: translateX(40vw);}
  to {transform: translateX(0vw);}
}

@-o-keyframes shiftLeftHeroes {
  from { transform: translateX(40vw);}
  to {transform: translateX(0vw);}


}



#heroes-ul-1 > .heroes-shift-image{
transform: translateX(40vw) !important;

}


#heroes-ul-1 > .heroes-shift-image-remove.heroes-shift-image-remove-active{
  -webkit-animation: shiftLeftHeroes 1s ease;
  -moz-animation: shiftLeftHeroes 1s ease;
  -ms-animation: shiftLeftHeroes 1s ease;
  -o-animation: shiftLeftHeroes 1s ease;
  animation: shiftLeftHeroes 1s ease;
}

#heroes-ul-1 > .heroes-shift-image-add.heroes-shift-image-add-active{
  -webkit-animation: shiftRightHeroes 1s ease;
  -moz-animation: shiftRightHeroes 1s ease;
  -ms-animation: shiftRightHeroes 1s ease;
  -o-animation: shiftRightHeroes 1s ease;
  animation: shiftRightHeroes 1s ease;
}

// .reverse-animation{
//   -webkit-animation:shiftLeftHeroes 1s ease-in-out !important;
//    -moz-animation:shiftLeftHeroes 1s ease-in-out  !important;
//    -o-animation: shiftLeftHeroes 1s ease-in-out  !important;
//    animation:shiftLeftHeroes 1s ease-in-out  !important;
// }
