<div class="billing" ng-show="isBillingDifferent">


  <h2 class="form-sub-title">bill to</h2>

  <div class="form-entry">
    <input type="text" name="name_billing" value="name" ng-model="checkout.billing.full_name" required placeholder="full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'full name'">
      <span class="form-error" ng-show="checkoutForm.name_billing.$error.required && checkoutForm.name_billing.$touched">required</span>
    </input>
  </div>


  <div class="form-entry">
    <input type="text" name="address1_billing" value="address" ng-model="checkout.billing.address1" required placeholder="address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'address'">
      <span class="form-error" ng-show="checkoutForm.address1_billing.$error.required && checkoutForm.address1_billing.$touched">required</span>
    </input>
  </div>

  <div class="form-entry">
    <input type="text" name="city_billing" value="city" ng-model="checkout.billing.city" required placeholder="city" onfocus="this.placeholder = ''" onblur="this.placeholder = 'city'">
      <span class="form-error" ng-show="checkoutForm.city_billing.$error.required && checkoutForm.city_billing.$touched">required</span>
    </input>
  </div>


  <div class="form-entry">
    <input type="text" name="county_billing" value="state" ng-model="checkout.billing.state" required placeholder="state" onfocus="this.placeholder = ''" onblur="this.placeholder = 'state'">
      <span class="form-error" ng-show="checkoutForm.county_billing.$error.required && checkoutForm.county_billing.$touched">required</span>
    </input>
  </div>

  <div class="form-entry">

    <div class="form-entry">
      <select class="select" name="country_billing" ng-model="checkout.billing.country" required>
        <option value="" selected>country</option>
        <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
        <span class="form-error" ng-show="checkoutForm.country_billing.$error.required && checkoutForm.country_billing.$touched">required</span>
      </select>
      <!-- <input type="text" name="country_shipment" value="country" ng-model="checkout.shipment.country" required placeholder="country" onfocus="this.placeholder = ''" onblur="this.placeholder = 'country'"> -->
    </div>

  </div>


  <div class="form-entry">
    <input type="text" name="postcode_billing" value="postcode" ng-model="checkout.billing.postal_code" required ng-minlength="4" ng-maxlength="8" placeholder="postcode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'postcode'">
      <span class="form-error" ng-show="checkoutForm.postcode_billing.$error.required && checkoutForm.postcode_billing.$touched">required</span>
       <!-- ng-pattern="postcodeRegex" -->
      <span class="form-error" ng-show="checkoutForm.postcode_billing.$error.minlength && checkoutForm.postcode_billing.$touched">Postcode is too short.</span>
      <span class="form-error" ng-show="checkoutForm.postcode_billing.$error.pattern && checkoutForm.postcode_billing.$touched">Postcode is not in the correct format.</span>
      <span class="form-error" ng-show="checkoutForm.postcode_billing.$error.maxlength && checkoutForm.postcode_billing.$touched && !checkoutForm.postcode_billing.$error.minlength && !checkoutForm.postcode_billing.$error.maxlength">Postcode is too long.</span>
    </input>
  </div>

  <div class="form-entry">
    <input type="text" name="phone_billing" value="phone" ng-model="checkout.billing.phone_number" required  ng-minlength="10" ng-maxlength="20" placeholder="phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'phone'">
      <span class="form-error" ng-show="checkoutForm.phone_billing.$error.required && checkoutForm.phone_billing.$touched">required</span>
      <span class="form-error" ng-show="checkoutForm.phone_billing.$error.minlength && checkoutForm.phone_billing.$touched">phone is too short.</span>
      <span class="form-error" ng-show="checkoutForm.phone_billing.$error.pattern && checkoutForm.phone_billing.$touched && !checkoutForm.phone_billing.$error.minlength">phone number is not in the correct format.</span>
    </input>
     <!-- ng-pattern="phoneRegex" -->
  </div>


</div>
