<div class="anchor-contact anchor" id="contactHash">


  <div class="contact-wrapper">
    <ul class="contact-ul">

      <li class="contact-li">
        <h3 class="contact-h3">Sales</h3>
        <p class="contact-p">Via Francesco Luigi Ferarri 37/A</p>
        <p class="contact-p">Ferrara, Italy 44122</p>
        <p class="contact-p">+39 0532 251211</p>
        <p class="contact-p"><a href="mailto:sales@alyxstudio.com">sales@alyxstudio.com</a> </p>
      </li>

      <li class="contact-li">
        <h3 class="contact-h3">Shop</h3>
        <p class="contact-p">online service inquiries</p>
        <p class="contact-p"><a href="mailto:service@alyxstudio.com">service@alyxstudio.com</a> </p>
      </li>


      <li class="contact-li" >
        <h3 class="contact-h3">Press</h3>

        <div class="contact-li-sub">
          <p class="contact-p">PR Consulting</p>
          <p class="contact-p">304 Hudson Street, 8th Floor</p>
          <p class="contact-p">New York NY 10013</p>
          <p class="contact-p">+1 212 228 8181</p>
          <p class="contact-p"><a href="mailto:alyxstudio@prconsulting.net">alyxstudio@prconsulting.net</a></p>
        </div>

        <div class="contact-li-sub">
          <p class="contact-p">PR Consulting Paris</p>
          <p class="contact-p">22 rue de l’Arcade</p>
          <p class="contact-p">75008 Paris</p>
          <p class="contact-p">+33 1 73 54 19 50</p>
          <p class="contact-p"><a href="mailto:alyxstudio@prconsultingparis.net">alyxstudio@prconsultingparis.net</a></p>
        </div>

        <div class="contact-li-sub">
          <p class="contact-p">[MATT.]</p>
          <p class="contact-p">Jingumae 101</p>
          <p class="contact-p">5-39-8 Jingumae</p>
          <p class="contact-p">Shibuya-ku, Tokyo</p>
            <p class="contact-p">150-0001 Japan</p>
          <p class="contact-p">+81 364276708</p>
          <p class="contact-p"><a href="mailto:junsukeyamasaki@gmail.com">junsukeyamasaki@gmail.com</a></p>

          <!-- <p class="contact-p"><a href="mailto:"></a></p> -->
          <!-- Junsuke Yamasaki -->

        </div>


      </li>





    </ul>
  </div>


</div>
