<div class="anchor-stockists" id="stockistsHash">

  <div class="stockist-wrapper">
    <ul class="stockist-ul">
      <li class="stockist-li" ng-repeat="s in Stockist">
        <h3 class="stockist-name">{{s.data['stockist.name'].value[0].text}}</h3>
        <p class="stockist-street">{{s.data['stockist.street'].value}}</p>
        <p class="stockist-country-address">{{s.data['stockist.city'].value}}<span ng-if="s.data['stockist.state'].value">, {{s.data['stockist.state'].value}}</span><span ng-if="s.data['stockist.zip'].value">, {{s.data['stockist.zip'].value}}</span><span ng-if="s.data['stockist.country'].value">, {{s.data['stockist.country'].value}}</span></p>
      </li>
    </ul>
  </div>

</div>
