
<div class="social-wrapper" summary="this is the content of social" ng-controller="socialCtrl">
  <!-- .................................. header ...............................-->
  <!-- <div class="header-wrapper" ng-if="!isMobile">

    <div class="header-A-logo" ng-click="beNavActive();"><logo-pop-directive></logo-pop-directive></div>
    <div class="header-section-status">
      <p class="header-section-status-p" style="color: {{burgerColor}}">{{headerSectionName}}</p>
    </div>
  </div> -->

  <div  class="social-content">

    <!-- <div class="social-filter-wrapper" filter-active-directive>
      <table class="social-table">
        <tr class="social-tr">
          <td style="height:100%; vertical-align: middle;">
                <ul class="social-filter-content" ng-if="!isjournalMobileDevice">
                  <li id="social-filter-entry" >
                    <a ng-class="{ filterActive: filterState==1}" class="insta-a" ng-click='query.tags = "alyxbts"; filterActive(1); checkLoadMore();' >#alyxbts</a>
                  </li>
                  <li id="social-filter-entry" >
                    <a ng-class="{ filterActive: filterState==2}" class="insta-a" ng-click='query.tags = "alyxgirls"; filterActive(2); checkLoadMore();' >#alyxgirls</a>
                  </li>
                  <li id="social-filter-entry" >
                    <a ng-class="{ filterActive: filterState == 3}" class="insta-a" ng-click='query.tags = "alyxmood"; filterActive(3); checkLoadMore();' >#alyxmood</a>
                  </li>
                  <li id="social-filter-entry" >
                    <a ng-class="{ filterActive: filterState==4}" class="insta-a" ng-click='query.tags = "alyxcampaign"; filterActive(4); checkLoadMore();' >#alyxcampaign</a>
                  </li>
                  <li id="social-filter-entry" >
                    <a ng-class="{ filterActive: filterState==5}" class="insta-a" ng-click='query.tags = "alyxpress"; filterActive(5); checkLoadMore();' >#alyxpress</a>
                  </li>
                  <li id="social-filter-entry" >
                    <a ng-class="{ filterActive: filterState==6}" class="insta-a" ng-click='query.tags = "alyxheroes"; filterActive(6); checkLoadMore();' >#alyxheroes</a>
                  </li>
                </ul>
            </td>
          </tr>
        </table>
    </div> -->


    <div class="insta-wrapper">
      <ul class="insta-grid" instaimageclick-Directive >
        <li ng-repeat="p in filtered = (instaTotal | filter: query| limitTo: totalDisplayed)" class="insta-li" id="insta-{{$index}}" ng-show="([p] | filter: query).length > 0">

          <div class="social-images-loader-div" ng-show="journalLoading">
              <div class="social-loader" alt="Loading icon"></div>
          </div>
          <a class="instagram-image-a" ng-click="thisSocialImage(isItem(p)); beSocial();">
            <img journal-style-parent class="instagram-image" src="{{p.images.standard_resolution.url}}">
          </a>
        </li>

        <li class="load-more-li" ng-hide="noMore"><button class="load-more-button" ng-click="loadMore(23)" ng-hide="noMore">+</button>
        </li>
      </ul>
    </div>


    <div class="insta-main">

      <div class="insta-table-wrapper">
            <table>
              <tr>
                <td>
                  <div class="insta-main-image-wrapper">
                    <img class="insta-main-image" ng-src="{{mainSocialImage}}" alt="" ng-if="!isVideo" image-change>
                    <video class="insta-main-video" ng-src="{{mainSocialVideo}}" autoplay ng-if="isVideo"></video>
                  </div>
                </td>
              </tr>
            </table>
      </div>

      <!-- <img class="img-round animate-show previous-image"   ng-src="{{ profile.user.previmg.src }}" ng-show="profile.user.previmg.src != profile.user.img.src" /> -->




      <p class="insta-main-description">
        {{mainSocialDescription}}
      </p>

      <div class="view-on-instagram">
        <a href="{{mainLink}}" target="_blank">
          <p>
            view on instagram
          </p>
        </a>

      </div>

    </div>




    <div class="social-account">
      <a href="https://instagram.com/alyxstudio/" target="_blank">
        @alyxstudio
      </a>
    </div>





  </div>

</div>
