<div class="anchor-catalogue anchor" ng-controller="catalogueCtrl" id="catalogueHash">

  <div class="catalogue-swipe" ng-click="removeSwipe()" ng-hide="swipeHide" ng-if="isMobile">
    <p>swipe</p>
  </div>



    <div class="catalogue-unit" id="catalogue-unit-{{$index}}" ng-repeat="u in units">
      <div class="catalogue-scroll-left" id="catalogue-scroll-left-{{$index}}" ng-if="u.scroll && !isMobile" ng-click="slideLeft($index);" ng-class="{'left_arrow': left_arrow_present[$index]}">
      </div>
      <div class="catalogue-scroll-right" id="catalogue-scroll-right-{{$index}}" ng-if="u.scroll && !isMobile" ng-click="slideRight($index);" ng-class="{'right_arrow': right_arrow_present[$index]}">
      </div>
      <ul class="catalogue-ul" id="catalogue-ul-{{$index}}">
        <li image-fade-directive class="catalogue-li" id="catalogue-li-{{$index}}" ng-repeat="c in u.images">
          <div class="catalogue-image" id="catalogue-image-{{u.name}}-{{$index}}" style="background-image: url('{{c}}')" alt="catalogue image {{$index}}"></div>
        </li>
      </ul>
    </div>


</div>
