<div class="anchor-film anchor" ng-controller="filmCtrl" id="filmHash">

  <div class="film-sound" ng-click="volume()" ng-show="showSound" ng-if="!isMobileDevice">
    <p>{{soundAction}} sound</p>
  </div>

  <div class="film-wrapper" ng-click="playPause()" ng-if="!isMobileDevice">
    <video id="film-fw15" class="video-js vjs-default-skin" data-setup='{ "controls": true, "autoplay": true, "preload": "auto", "loop": true}'  width="100%" height="100%">
        <source src="{{video}}"/>
    </video>
  </div>




  <!-- MOBILE -->

  <a class="film-play" ng-click="playPause()" ng-if="isMobileDevice">
    <p>play</p>
  </a>
  <div class="film-cover" style="background-image: url('images/FW15/CATALOGUE/20150107-Alyx-03-166_v1.jpg');" ng-if="isMobileDevice">
  </div>

  <div class="film-wrapper" ng-click="playPause()" ng-if="isMobileDevice">
    <video id="film-fw15" class="video-js vjs-default-skin" width="100%" height="100%" poster='images/blank.jpg'>
<!-- data-setup='{ "controls": false, "autoplay": false, "preload": "auto"}' -->
        <source src="{{video}}"/>
    </video>
  </div>


</div>
