<!-- <div class="main"> -->
  <nav-directive ng-if="!isMobile"></nav-directive>
<film-directive></film-directive>
<catalogue-directive></catalogue-directive>
<heroes-directive></heroes-directive>
<lookbook-directive></lookbook-directive>
<!--   <nav-directive></nav-directive>
-->
  <nav-one-directive ng-if="!isMobile"></nav-one-directive>
<!-- <about-directive></about-directive>
<contact-directive></contact-directive>
<stocklists-directive></stocklists-directive>
  <nav-one-directive></nav-one-directive>
