<div class="anchor-lookbook anchor" ng-controller="lookbookCtrl" id="lookbookHash" style="height: {{lookbookVH}}">

<div class="lookbook-wrapper" image-fade-directive>

  <div class="lookbook-text" ng-show="mainLookShow" ng-if="!isMobile">
    <p class="lookbook-text-p">look {{mainLook}}</p>
    <p class="lookbook-text-readstory">
      <a ng-click="showDescription()">{{lookbookStatus}} story</a>
    </p>
  </div>

  <div class="lookbook-main" ng-class="{'imgFixedLookbook': mainLookShow}" ng-swipe-left="journalSwipeLeft()" ng-swipe-right="journalSwipeRight()" ng-show="showMain">


    <div class="lookbook-description" ng-class="{readStoryScroll: readActive}" ng-click="showDescription()" ng-if="!isMobile">
      <div class="lookbook-mft" style="background-image: url('{{lookbook.logo}}');" ng-if="lookbook.logo"></div>
      <span class="lookbook-description-span">
        <h3 class="lookbook-description-h3">"{{lookbook.title}}"</h3>
        <ul class="lookbook-description-intro">
          <li class="lookbook-description-intro-li" ng-repeat="i in lookbook.intro">
            <p class="lookbook-description-intro-p">{{i}}</p>
          </li>
        </ul>
        <ul class="lookbook-description-text">
          <li class="lookbook-description-text-li" ng-repeat="t in lookbook.text">
            <p class="lookbook-description-text-p">{{t}}</p>
          </li>
        </ul>

        <p class="lookbook-description-credit" ng-if="lookbook.credit">{{lookbook.credit}}</p>
      </span>
    </div>

    <img ng-class="{'shift-image': shiftImage}" ng-click="showDescription()" class="lookbook-main-img" src="{{mainImage}}" alt="" ng-if="!isMobile"/>




    <!-- MOBILE -->

    <div class="lookbook-close" ng-click="hideMainImage()" ng-if="isMobile" style="background-image: url('images/close-button.svg')"></div>
    <div class="lookbook-main-img" ng-repeat="l in lookbookUnits" id="lookbook-main-img-{{$index}}" ng-if="isMobile">
      <table>
        <tr>
          <td style="height:100%; vertical-align: middle;">
            <img src="{{l.src_large}}" alt="" app-click-toggle/>
          </td>
        </tr>
      </table>

    </div>
  </div>

  <p class="lookbook-text-p" ng-show="showMain && lookActive" ng-if="isMobile">look {{mainLook}}</p>



<!-- style="margin-top:{{lookbookUlTop}}px;" -->
<div class="lookbook-ul-wrapper" ng-class="{'text-overflow': enableLookbookScroll}" ng-if="!isMobile">
  <ul class="lookbook-ul" ng-class="{'shift-image': shiftImage}" >
    <li class="lookbook-li" ng-repeat="l in lookbookUnits" ng-click="thisImage(l.look, l.src_large)" ng-init="hover_show = false" ng-mouseover="hover_show = true" ng-mouseout="hover_show = false" >
      <div class="lookbook-hover" ng-show="hover_show">
      </div>
      <img class="lookbook-img" src="{{l.src_small}}" alt="" id="{{lookbook-image-$index}}" ng-if="!isMobile"/>

    </li>
  </ul>
</div>



<div class="lookbook-ul-wrapper" ng-class="{'text-overflow': enableLookbookScroll}" ng-if="isMobile">
  <ul class="lookbook-ul" ng-class="{'shift-image': shiftImage}">
    <li class="lookbook-li" ng-repeat="l in lookbookUnits" ng-click="thisImage(l.look, l.src); showMainImage(); fastSwipeFN($index);">
      <div class="lookbook-img" style="background-image: url('{{l.src_small}}')" alt="" id="{{lookbook-image-$index}}"></div>
    </li>
  </ul>
</div>



<img ng-repeat="l in lookbookUnits" src="{{l.src_large}}" alt="" style="visibility: hidden" ng-if="!isMobile"/>


</div>
