<div class="shop" summary="shop alyx products" id="shop" ng-controller="shopCtrl">

<div class="shop-left" ng-show="Section.name != 'products'">
  <div class="shop-button">

    <div class="shop-button-entry shop-right-button-cart" ng-show="Section.name == 'detail'">
      <a href="/shop" ng-click="setPage('product')">PRODUCTS</a>
    </div>

    <div class="shop-button-entry shop-right-button-cart" ng-show="Section.name == 'cart'">
      <a href="/shop" ng-click="setPage('product')">PRODUCTS</a>
    </div>

    <div class="shop-button-entry shop-right-button-shipment" ng-show="Section.name == 'shipment'">
      <a href="/shop/cart" ng-click="setPage('cart')">CART</a>
    </div>

    <div class="shop-button-entry shop-right-button-payment" ng-show="Section.name == 'payment'">
      <a href="/shop/shipment" ng-click="setPage('shipment')">SHIPMENT</a>
    </div>


  </div>
</div>


  <product-directive></product-directive>
  <detail-directive></detail-directive>
  <cart-directive></cart-directive>
  <shipment-directive></shipment-directive>
  <payment-directive></payment-directive>
  <processed-directive></processed-directive>

  <div class="shop-right" ng-show="Section.name != 'processed'" ng-class="{'whiteBar': Section.name == 'products'}">
    <div class="shop-button">
      <div class="shop-button-entry shop-right-button-cart" ng-show="Section.name == 'detail' || Section.name == 'products'">
        <a ng-click="setPage('cart')">CART</a>
        <!-- href="/shop/cart" -->
        <p class="dollar-contents" ng-class="{'blink': cartChanged}"ng-cloak>{{Cart.totals.post_discount.rounded.without_tax}} $</p>
      </div>

      <div class="shop-button-entry shop-right-button-shipment" ng-show="Section.name == 'cart'" ng-click="cartToShipment();" >
        <a ng-class="{'whiteText': Section.forwardActive}" href="/shop/shipment" ng-click="setPage('shipment')">SHIPMENT</a>
      </div>

      <div class="shop-button-entry shop-right-button-payment" ng-show="Section.name == 'shipment'" ng-click="checkShipment()">
        <a ng-class="{'whiteText': Section.forwardActive}" href="/shop/payment" ng-click="setPage('payment')">PAYMENT</a>
      </div>

      <div class="shop-button-entry shop-right-button-processed" ng-show="Section.name == 'payment'" ng-click="checkPayment()" ng-class="{'whiteText': Section.forwardActive}">
        <a href="/shop/processed" ng-click="setPage('processed')"> PAY</a>
      </div>

    </div>

  </div>



  <div class="error">
    {{error}}
  </div>

</div>
