<div class="anchor-stockists" ng-controller="stockistsCtrl" id="stockistsHash">
  
  <div class="stockists-wrapper">
    <ul class="stockists-ul">
      <li class="stockists-li" ng-repeat="s in stockistsData.stores">
        <h3 class="stockists-name">{{s.name}}</h3>
        <p class="stockists-street">{{s.street}}</p>
        <p class="stockists-country-address">{{s.city}}<span ng-if="s.state">, {{s.state}}</span><span ng-if="z.zip">, {{s.zip}}</span>, {{s.country}}</p>
      </li>
    </ul>
  </div>

</div>
