<div ng-controller="navCtrl" >
	<div class="navigation-one-placeholder" id="{{currentPosition}}-navHash"></div>
	<nav class="navigation-one" id="nav-one"  style="opacity: {{navFadeOne}}" ng-hide="navHideOne">

	   <div class="navigation-one-header-wrapper">
	    <h1 class="navigation-one-header-content">
	      <a class="navigation-one-header-a"><logo-directive></logo-directive></a>
	    <h1>
	  </div>

	  <table class="navigation-one-table">
	    <tr class="navigation-one-tr">
	      <td class="navigation-one-td" style="height:100%; vertical-align: middle;">
					<div class="navigation-one-season" ng-repeat="n in navigationData">
						<!-- <p ng-class="{active: isActive('fw15')}">{{metaData.season}}</p> -->
						<p ng-class="{blackNavActive: isActive(n.season)}" ng-click="openSeason(n.season)">{{n.navigationSeason}}</p>

							<ul class="navigation-one-ul" ng-show="isSubNav(n.season)">
								<li class="navigation-one-li" id="$index" ng-repeat="x in n.sections">
									<a class="navigation-one-a" ng-click="routeForce(n.season, x);" >
										<p class="navigation-one-text navigation-text-{{$index}}" ng-class="{blackNavActive: isActive(n.season)}">
											{{x}}
										</p>
									</a>
								</li>

							</ul>
						</div>



							<div class="navigation-one-season">
								<ul class="navigation-one-ul">
									<li class="navigation-one-li">
										<a class="navigation-one-a" ng-click="routeForce(support, about)">
											<p class="navigation-one-text-about" ng-class="{blackNavActive: isActive(support)}">
												about
											</p>
										</a>
									</li>
									<li class="navigation-one-li">
										<a class="navigation-one-a" ng-click="routeForce('support', 'contact')">
											<p class="navigation-one-text-contact" ng-class="{blackNavActive: isActive(support)}">
												contact
											</p>
										</a>
									</li>
									<li class="navigation-one-li">
										<a class="navigation-one-a" ng-click="routeForce('support', 'stockists')">
											<p class="navigation-one-text-stockists" ng-class="{blackNavActive: isActive(support)}">
												stockists
											</p>
										</a>
									</li>
									<li class="navigation-one-li">
										<a class="navigation-one-a" ng-click="routeForce('social', 'social')">
											<p class="navigation-one-text-social" ng-class="{blackNavActive: isActive(social)}">
												social
											</p>
										</a>
									</li>
								</ul>
							</div>
	      </td>
	    </tr>
	  </table>

	</nav>
</div>
