<div ng-controller="navCtrl" id="nav-support">
	<div class="navigation-support-placeholder"></div>
	<nav class="navigation-support"   style="opacity: {{navFadeOne}}" ng-hide="navHideOne">

	   <div class="navigation-support-header-wrapper">
	    <h1 class="navigation-support-header-content">
	      <a class="navigation-support-header-a"><logo-directive></logo-directive></a>
	    <h1>
	  </div>

	  <table class="navigation-support-table">
	    <tr class="navigation-support-tr">
	      <td class="navigation-support-td" style="height:100%; vertical-align: middle;">
			      <div class="navigation-support-season" ng-repeat="n in navigationData">

							<p ng-class="{active: isActive(n.season)}">{{n.season}}</p>

			          <ul class="navigation-support-ul">
			            <li class="navigation-support-li" id="$index" ng-repeat="x in n.sections">
			              <a class="navigation-support-a" ng-click="thisSeason(n.season); routeForce(n.season); gotoAnchor(x+'Hash');" >
			                <p class="navigation-support-text navigation-support-text-{{$index}}">
			                  {{x}}
			                </p>
			              </a>
			            </li>
			          </ul>
							</div>

							<div class="navigation-support-season">
								<ul class="navigation-support-ul">
									<li class="navigation-support-li">
										<a class="navigation-support-a" ng-click="gotoAnchor('aboutHash')">
											<p class="navigation-support-text navigation-support-text-about">
												about
											</p>
										</a>
									</li>
									<li class="navigation-support-li">
										<a class="navigation-support-a" ng-click="gotoAnchor('contactHash')">
											<p class="navigation-support-text navigation-support-text-contact">
												contact
											</p>
										</a>
									</li>
									<li class="navigation-support-li">
										<a class="navigation-support-a" ng-click="gotoAnchor('stockistsHash')">
											<p class="navigation-support-text navigation-support-text-stockists">
												stockists
											</p>
										</a>
									</li>
								</ul>
							</div>
	      </td>
	    </tr>
	  </table>

	</nav>
</div>
