<div class="pop-wrapper" ng-hide="!navActive">

<!-- ng-class="{'popActive': navActive}" -->
    	<!-- .................................. header ...............................-->
  <!--
    <div class="header-wrapper" ng-cloak ng-hide="headerHide">
      <div class="header-A-logo"  ng-click="beNavActive()"><logo-pop-directive></logo-pop-directive></div>

    <div class="header-section-status">
      <p class="header-section-status-p" style="color: {{burgerColor}}">{{thisSection}}</p>
    </div>

    </div> -->
    <div class="pop-background" ng-click="beNavActive();">

    </div>

  <!--  -->

    	<!-- <nav class="pop"> -->

        <div class="pop-header-wrapper" ng-if="!isMobile">
          <div class="pop-header-A-logo" ng-click="beNavActive();"><logo-pop-directive></logo-pop-directive></div>
        </div>

    	  <table class="pop-table">
    	    <tr class="pop-tr">
    	      <td class="pop-td" style="height:100%; vertical-align: middle;">
    			      <div class="pop-season" ng-repeat="n in navigationData">
    							<!-- <p ng-class="{active: isActive('fw15')}">{{metaData.season}}</p> -->
    							<p ng-class="{blackNavActive: isActive(n.season)}" ng-click="openSeason(n.season)">{{n.navigationSeason}}</p>

    			          <ul class="pop-ul" ng-show="isSubNav('{{n.season}}')">
    			            <li class="pop-li" id="$index" ng-repeat="x in n.sections">
    			              <a class="pop-a" ng-click="routeForce(n.season, x); beNavActive();" >
    			                <p class="pop-text pop-text-{{$index}}" ng-class="{blackNavActive: isActive(n.season)}">
    			                  {{x}}
    			                </p>
    			              </a>
    			            </li>

    			          </ul>
    							</div>



    					<div class="pop-season">
									<p class=" pop-text-about" ng-class="{blackNavActive: isActive('support')}" ng-click="routeForce('support', 'about');  beNavActive();">
										about
                  </p>
              </div>
              <div class="pop-season">
									<p class="pop-text-contact" ng-class="{blackNavActive: isActive('support')}" ng-click="routeForce('support', 'contact');  beNavActive();">
										contact
									</p>
              </div>
    					<div class="pop-season">
									<p class=" pop-text-stockists" ng-class="{blackNavActive: isActive('support')}" ng-click="routeForce('support', 'stockists'); beNavActive();">
										stockists
									</p>
              </div>
    					<div class="pop-season">
                  <p class=" pop-text-social" ng-class="{blackNavActive: isActive('social')}" ng-click="routeForce('social', 'social'); beNavActive();">
                    social
                  </p>
              </div>

    	      </td>
    	    </tr>
    	  </table>

    	<!-- </nav> -->


</div>
