.cart{
  width:100vw;
  height:auto;
  position: relative;
  display: inline-block;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
  vertical-align:top;
}

.cart-content{
  width:calc(100vw - 150px);
  margin-left:75px;
  height:100vh;
  position: relative;
  overflow-x:scroll;
}

.cart-ul{
  display:block;
  margin:auto;
  width:300px;
  padding-top:$margin-top;
  .cart-li{
    display: block;
    width:100%;
    height:50px;
    margin-top:$margin-top-list;
    .cart-li-img{
      height: 100%;
      width:auto;
      display:inline-block;
      vertical-align:top;
    }
    .cart-li-p{
      width:auto;
      display:inline-block;
      vertical-align:top;

    }
    .cart-li-span{
      width:auto;
      display:inline-block;
      vertical-align:top;
    }
  }
}




.cart-total{
  display:block;
  margin:auto;
  width:300px;
  margin-top:$margin-top;
  p{
    @include paragraph();
  }
}

.cart-error{
  display:block;
  margin:auto;
  width:300px;
  margin-top:$margin-top;
  p{
    text-align: center;
    @include paragraph();
  }
}
