.payment{
  width:100vw;
  height:auto;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.payment-content{
  width:calc(100vw - 150px);
  margin-left:75px;
  height:100vh;
  position: relative;
}

.payment-content-container{
  width: 400px;
  margin:auto;
  height: auto;
  margin-top:$margin-top;
}


.payment-form{
  width: 100%;
  margin:auto;
  height: auto;
  margin-top:$margin-top-list;
}


.payment-h1{
  // padding-top: $margin-top;
}



.payment-total{
  width: 100%;
  position: relative;
  margin:auto;
  margin-top: $margin-top;
  padding-bottom: $padding-bottom;
  height: auto;
  p{
    @include p();
    width:100%;
    span{
      float:right;
    }
  }
}




.payment-header{
  @include h2();
}
