.processed{
  width:100vw;
  height:100vh;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.processed-content{
  width:auto;
  height:auto;
  margin: auto;
  position: absolute;
  display: table;
  top: 70px;
  right:0;
  .processed-content-text{
    width:40vw;
    display: block;
    position: relative;
    margin-top:$margin-top-p;
    .processed-content-text-p{
      width:100%;
      text-align: left;
      .processed-content-text-span{
        @include p();
        margin-top: $margin-top-p2;
        width: 100%;
        display: block;
        clear: both;
      }
    }
    a{
      @include p();
    }
  }

}


.processed-video{
  width: auto;
  /* height: 100vh; */
  position: relative;
  display: table;
  right: 0;
  top: 0;
  video{
    width: 60vw;
    display: block;
  }
}





.processed-content.canceled{
  position: relative;
  width: 100vw;
  height: 100vh;
  top:0;
  .processed-content-text{
    position: relative;
    margin: auto;
    margin-right: 0;
    right: 0;
  }
}
