.product{
  width:calc(100vw - 75px);
  height:100vh;
  padding-left: 75px;
  position: relative;
  display: inline-block;
  overflow-y:scroll;
  overflow-x: hidden;
}

.product-ul{
  width: 82%;
  height:auto;
  margin: auto;
  padding-top:100px;
  .product-li{
    display: block;
    width: 22%;
    height: auto;
    margin:auto;
    margin-bottom: 20vh;
    margin-right:17%;
    float:left;
    &:nth-child(3n+0){
      margin-right:0;
    }

    a{
      display:block;
      width:100%;
      height:auto;
      .product-image{
        position: relative;
        width: 100%;
        height: auto;
        transform-origin: center;
        &:nth-child(1){
          margin-left:0;
        }
      }
      .product-price{
        width:100%;
        p{
        }
      }
    }
  }
}

.product-filter{
  position: fixed;
  left:$margin-sides;
  top:50%;
  @include transform-element(translateY(-50%));
  .product-filter-ul{
    width:100%;

    .product-filter-li{
      width:100%;
      display:block;
      clear: both;
      margin-top: $margin-bottom-h2;
      &:nth-child(1){
        margin-top: 0;
      }
      a{
        @include h3();
        color: $black;
        display:block;
        &:hover{
          color: $white;
          background-color: $black;
        }
      }
    }
    .product-filter-li-clear{
      margin-top: $margin-bottom-h2;
      @include h3();
    }
  }
}



.product-li.ng-move,
.product-li.ng-enter,
.product-li.ng-leave {
  transition:all linear $transition-medium;
  -webkit-transition:all linear $transition-medium;
  -moz-transition:all linear $transition-medium;
  -ms-transition:all linear $transition-medium;
}

.product-li.ng-leave.ng-leave-active,
.product-li.ng-move,
.product-li.ng-enter {
  opacity:0;
}

.product-li.ng-leave,
.product-li.ng-move.ng-move-active,
.product-li.ng-enter.ng-enter-active {
  opacity:1;
}





.filter-selected{
  a{
    color: $white !important;
    background-color: $black;
  }

}
