/*....................................SCSS VARIABLES..................................*/



// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 900;


// ........................................................FONT SIZES
$font-size-h1:25px;
$font-size-h2:16px;
$font-size-h3:13px;
$font-size-p: 10px;


// ........................................................FONT FAMILIES
$font-family-h1:"akzidenz-grotesk-condensed";
$font-family-h2: "akzidenz-grotesk-condensed";
$font-family-h3: "akzidenz-grotesk-condensed";
$font-family-p: "akzidenz-grotesk";



// ........................................................FONT LINEHEIGHTS
$line-height-h1: 50px;
$line-height-h2: 22px;
$line-height-h3: 20px;
$line-height-p: 17px;




$letter-spacing-h1: 4px;
$letter-spacing-h2: 4px;
$letter-spacing-h3: 4px;
$letter-spacing-p: 2px;

// ........................................................COLORS
$black: #000000;
$white: #FFFFFF;
$yellow: #FFFF00;
$green: #00FF00;
$blue: #0000FF;
$light-grey: #D3D3D3;


// ........................................................MARGINS
$margin-sides: 20px;
$margin-bottom: 35px;
$margin-bottom-h1:20px;
$margin-bottom-h2:10px;
$margin-bottom-p:10px;
$margin-top: 100px;
$margin-top-list:40px;
$margin-top-p:20px;
$margin-sides-mobile:10px;
$margin-left-paragraph:10px;
$padding-bottom:150px;

// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;



// ........................................................Z-INDEXES
$z-loader:15;
$z-logo:13;
$z-nav:12;
$z-shop-buttons:11;
$z-cart: 10;
$z-clickOut: 12;

$z-dollar:10;
$z-lookbook-side:10;
$z-lookbook-main-img:9;
$z-lookbook-desc:6;
$z-support:6;

$z-detail:6;



/*....................................................................................*/
