<nav class="nav" ng-show="isNavOpen" ng-controller="navCtrl" ng-init="navCollectionOpen=false">
  <!-- <div class="nav-close" ng-click="closeNav()"> -->

  </div>
  <table>
    <tr>
      <td>
        <ul class="nav-ul">
          <li class="nav-li">
            <a href="/shop" ng-click="closeNav()"><h2 ng-class="{'active': firstBase == 'shop'}">shop</h2></a>
          </li>
          <li class="nav-li" ng-controller="collectionCtrl">
            <h2 ng-click="navCollectionOpen=!navCollectionOpen" ng-class="{'active': firstBase =='collection' }">collections</h2>
            <div class="nav-li-sub" ng-if="navCollectionOpen">
              <a href="/collection/{{c.slug}}" ng-repeat="c in collections | orderBy: c.data['collection.date'].value track by $index" ng-click="closeNav()" ng-class="{'active': Location =='/collection/{{c.slug}}'}">
                {{c.data['collection.season'].value}}
              </a>
            </div>
          </li>
          <li class="nav-li">
            <a href="/about" ng-click="closeNav()"><h2 ng-class="{'active': Location == '/about'}">about</h2></a>
          </li>
          <li class="nav-li">
            <a href="/contact" ng-click="closeNav()" ><h2 ng-class="{'active': Location == '/contact'}">contact</h2></a>
          </li>
          <li class="nav-li">
            <a href="/stockists" ng-click="closeNav()"><h2 ng-class="{'active': Location == '/stockists'}">stockists</h2></a>
          </li>
          <li class="nav-li">
            <a href="/social" ng-click="closeNav()"><h2 ng-class="{'active': Location == '/social'}">social</h2></a>
          </li>

        </ul>
      </td>
    </tr>
  </table>

</nav>
