<div class="processed" id="processed">

  <div class="processed-content">
    <div class="processed-error" ng-show="error.value">
      <p>{{error.text}}</p>
    </div>

    <div class="processed-thankyou" ng-show="thankYou">
      <p>{{thankYou.message}}</p>
      <p>
        your order will be shipped to
        {{thankYou.order.ship_to.data.address_1}}
        {{thankYou.order.ship_to.data.city}}
        {{thankYou.order.ship_to.data.country.value}}
        {{thankYou.order.ship_to.data.country.value}}
      </p>

    </div>
  </div>



  <div class="processed-video" ng-if="Section.name == 'processed'">
    <video src="https://player.vimeo.com/external/190032199.hd.mp4?s=a79117224eaa5b3ec2cd877d791c615e4bdfa47c&profile_id=174" autoplay>

    </video>

  </div>
</div>
