<div class="processed" id="processed">

  <div class="processed-content">

    <div class="processed-content-text" ng-show="Processed.error">
      <p>
        <span class="processed-content-text-span">Payment failed.</span>
        <span class="processed-content-text-span">{{Processed.data}}</span>
        <span class="processed-content-text-span">
          Your order number is {{Processed.data.id}} if you have any questions regarding your order please contact <a href="mailto:service@alyxstudio.com">service@alyxstudio.com</a>
        </span>
      </p>


    </div>

  </div>




</div>
