<div class="product" id="products" ng-controller="shopCtrl" ng-init="flip=false">


<div class="product-filter">

  <ul class="product-filter-ul">
    <li class="product-filter-li" ng-repeat="c in Collection_shop" ng-class="{'filter-selected': c.slug == filter.selected}">
      <a ng-click="selectFilter('collection', c.slug)">{{c.title}}</a>
    </li>
    <li class="product-filter-li product-filter-li-clear">
      <a ng-click="selectFilter('collection', '')">clear</a>
    </li>
  </ul>

</div>




  <ul class="product-ul" >
    <li class="product-li" ng-repeat="p in Product | shopFilter | orderBy: 'date' track by $index" ng-if="(p.stock_level>0 && p.status.data.key==1)" ng-mouseenter="flip=true" ng-mouseleave="flip=false">
      <a href="shop/product/{{p.sku}}" >
        <!-- ng-click="thisProduct(p.sku)" -->

        <img src="{{p.images[0].url.http}}" alt="{{p.title}}" class="product-image product-image-one" ng-class="{'fadeOut': flip==true}"/>
        <img src="{{p.images[1].url.http}}" alt="{{p.title}}" class="product-image product-image-two" ng-class="{'fadeOut': flip==false}"/>
        <!-- <img src="{{p.images[1].url.http}}" alt="{{p.description}}" class="product-image" ng-if="p.images[1].url.http"/>
        <img src="{{p.images[2].url.http}}" alt="{{p.description}}" class="product-image" ng-if="p.images[2].url.http"/> -->
      </a>
    </li>
  </ul>




</div>
