<div class="product" id="products">



  <ul class="product-ul" >
    <li class="product-li" ng-repeat="p in Product" ng-if="(p.stock_level>0)" ng-mouseenter="flip=true" ng-mouseleave="flip=false">
      <a ng-click="thisProduct(p.sku)">
        <img src="{{p.images[0].url.http}}" alt="{{p.description}}" class="product-image"/>
        <img src="{{p.images[1].url.http}}" alt="{{p.description}}" class="product-image" ng-if="p.images[1].url.http"/>
        <img src="{{p.images[2].url.http}}" alt="{{p.description}}" class="product-image" ng-if="p.images[2].url.http"/>
      </a>
    </li>
  </ul>




</div>
