<div class="product" id="products" ng-controller="shopCtrl" ng-init="flip=false">


<div class="product-filter">

  <ul class="product-filter-ul">
    <li class="product-filter-li" ng-repeat="c in Collection_shop | orderBy: 'collection_index'" ng-class="{'filter-selected': c.slug == filter.collection.selected}" ng-if="c.status.data.key==1">
      <a ng-click="selectFilter('collection', c.slug)">{{c.title}}</a>
    </li>
  </ul>

  <ul class="product-filter-ul">
    <li class="product-filter-li" ng-class="{'filter-selected': 'women' == filter.gender.selected}">
      <a ng-click="selectFilter('gender', 'women')" >women</a>
    </li>
    <li class="product-filter-li" ng-class="{'filter-selected': 'men' == filter.gender.selected}">
      <a ng-click="selectFilter('gender', 'men')" >men</a>
    </li>
    <li class="product-filter-li product-filter-li-clear" ng-show="filter.collection.selected || filter.gender.selected">
      <a ng-click="selectFilter('', '')">clear</a>
    </li>
  </ul>

</div>


<!--  -->

  <ul class="product-ul" >
    <li class="product-li" ng-repeat="p in Product | shopFilter | orderBy: 'date' track by $index" ng-if="(p.stock_level>0 && p.status.data.key==1)" ng-mouseenter="flip=true" ng-mouseleave="flip=false">
      <a href="shop/product/{{p.sku}}" >
        <!-- ng-click="thisProduct(p.sku)" -->

        <img src="{{p.images[0].url.https}}" alt="{{p.title}}" class="product-image product-image-one" ng-class="{'fadeOut': flip==true}"/>
        <img src="{{p.images[1].url.https}}" alt="{{p.title}}" class="product-image product-image-two" ng-class="{'fadeOut': flip==false}"/>
      </a>
    </li>

    <div class="product-li-none" ng-show="(filtered.length == 0 && (filter.collection.selected || filter.gender.selected))">
      <p>
        no products match the selected filters
      </p>
    </div>
  </ul>



</div>
