<div class="shipment" id="shipment">

<div class="shipment-content">

<div class="shipment-form">

  <h1 class="form-title">SHIPMENT</h1>


  <div class="choice">
    <ul class="choice-ul" ng-if="!readCookie('user')">
      <li class="choice-li" ng-click="checkout.customer.choice='register'" ng-class="{'active': checkout.customer.choice=='register'}"> <a>REGISTER</a></li>
      <li class="choice-li" ng-click="checkout.customer.choice='login'" ng-class="{'active': checkout.customer.choice=='login'}"> <a>LOGIN</a></li>
    </ul>
    <!-- <div class="choice-logged" ng-if="readCookie('user')">
      <h2>{{User.name}}</h2>
    </div> -->
  </div>



<!-- <form name="loggedForm" novalidate class="register-form" ng-if="readCookie('user')">
  <shipping-form ng-if="readCookie('user')"></shipping-form>
  <div class="isBillingDifferent">
    <label for="isBillingDifferent-label">different billing</label>
    <input class="isBillingDifferent-input" type="checkbox" name="isBillingDifferent" value="false" ng-model="isBillingDifferent">
  </div>
  <billing-form ng-if="readCookie('user')"></billing-billing>
</form> -->


  <form class="login-form" name="loginForm" novalidate ng-if="((checkout.customer.choice=='login') && (!readCookie('user')))">

    <h2 class="form-sub-title">CREDENTIALS</h2>
    <login-form></login-form>
    <button type="button" name="button" ng-click="loginFN(login)" class="btn">SUBMIT</button>

  </form>



<!-- 2 -->
  <form name="checkoutForm" novalidate class="register-form" method="post"  ng-show="((checkout.customer.choice=='register') || (readCookie('user')))">

    <customer-form></customer-form>

    <div class="termsAndServices">
      <label for="termsAndServices">by clicking this field you agree to our <a href="/shop/shipment/terms">terms and services</a></label>
      <input class="termsAndServices-input" type="checkbox" name="termsAndServices" value="false" ng-model="termsAndServices" required>
    </div>

    <div class="form-entry">
      <select class="select" name="billing_address" ng-model="billing_address" required>
        <option value="" selected>billing address</option>
        <option ng-repeat="address in User.address.data" value="{{address.id}}">{{address.address1}}</option>
      </select>
    </div>


    <address-form></address-form>


  </form>

  </div><!-- shipment forms choice-->


</div> <!-- shipment-content -->



  <terms-directive></terms-directive>

</div>
